@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');


body, html {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.main-wrapper, .img-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.img-wrapper {
	background-image: url("../images/backdrop.svg");
	background-position: center 105%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.top-left, .bottom-right, .top-right {
	position: absolute;
}

.top-left {
	top: 15%;
	left: 0;
	transform-origin: top left;
	transform: scale(1.4);
}

.top-right {
	right: 6%;
	top: 6%;
}

.top-right img {
	width: 140px;
}

.bottom-right {
	bottom: 12%;
	right: 2%;
}

.text-dim {
	opacity: 0.5;
}


.windarrow {
	transform-origin: center;
}



[class^="bg-"] {
	display: block;
	width: 100%;
	height: 100%;
}





/*Time of the day*/

/*morning*/
.bg-06,.bg-07,.bg-08 {
	background-image: linear-gradient(-150deg, #9ADAE8 0%, #FAFFD3 100%);
}

/*day*/
.bg-09,.bg-10,.bg-11,.bg-12,.bg-13,.bg-14,.bg-15,.bg-16 {
	background-image: linear-gradient(-134deg, #3782CC 0%, #62AFE4 100%);
	color:#FFF;
}

/*evening*/
.bg-17,.bg-18,.bg-19 {
	background-image: linear-gradient(150deg, #67566F 0%, #EDBEC9 100%);
}

/*night*/
.bg-20,.bg-21,.bg-22,.bg-23,.bg-00,.bg-01,.bg-02,.bg-03,.bg-04 {
	background-image: linear-gradient(-134deg, #11022D 0%, #2C2960 100%);
	color:#FFF;
}






/*Weather conditions*/

/*misty, foggy*/
.bg-50d {
	background-image: linear-gradient(180deg, #C3DFDC 0%, #D9F5F3 100%) !important;
	color:#5F656B !important;
}
.bg-50n {
	background-image: linear-gradient(180deg, #2E494F 0%, #435B59 100%) !important;
	color:#9CB5B3 !important;
}


/*snowy day*/
.bg-13d {
	background-image: url("../images/snow.svg"), linear-gradient(180deg, #BEC5CB 0%, #DFE2E7 100%) !important;
	color:#5F656B !important;
	background-size: 100%;
}

/*snowy night*/
.bg-13n {
	background-image: url("../images/snow.svg"), linear-gradient(180deg, #2E494F 0%, #435B59 100%) !important;
	color:#FFF !important;
	background-size: 100%;
}

/*rainy, thunder*/
.bg-09d, .bg-11d {
	background-image: url("../images/rain.svg"), linear-gradient(180deg, #BEC5CB 0%, #DFE2E7 100%) !important;
	color:#5F656B !important;
    background-repeat:no-repeat;
    background-size: 100% !important;
}

.bg-09n, .bg-11n {
	background-image: url("../images/rain.svg"), linear-gradient(180deg, #2A4466 0%, #567692 100%) !important;
	color:#FFF !important;
    background-repeat:no-repeat;
    background-size: 100% !important;
}

